<h2 class="text-center" style=" color:red;">הזמנות </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">orderID</th>
      <!-- <th>userName</th> 
      <th>fhone</th> 
      <th>email</th>  -->
      <th scope="col">shiping</th>
      <th scope="col">price</th>
      <th scope="col">blessing</th>
      <th scope="col">status</th>
      <th scope="col">comment</th>
      <th scope="col">UserId</th>
    </tr>
  </thead>

  <tr *ngFor="let order of orders">
    <td>{{order.orderID}}</td>
    <!-- <td>{{order.userName}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.email}}</td> -->
    <td>{{order.shiping}}</td>
    <td>{{order.price}}</td>
    <td>{{order.blessing}}</td>
    <td>{{order.status}}</td>
    <td>{{order.comment}}</td>
    <td>{{order.userId}}</td>
    <button (click)="showDetailFunction(order.orderID)">פרוט</button>
  </tr>
</table>


<app-order-item [orderNum]="numOrder" *ngIf="showDetail" (dataToParent)="hideDetail($event)"></app-order-item>