form {
    width: 50%;
    border-style: dashed;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

:host {
    background-color: rgba(0, 102, 128, 0.295);
    size: 200px 200px;
    display: block;
    text-align: center;
}


input {
    width: 80%;
    text-align: center;
    margin-left: 10%;

}

.error {
    color: brown;
}